
<div class="container-fluid blazor-modal @cssClass" @onclick="CloseOrder">
    <div class="blazor-modal-content-cart" @onclick:stopPropagation>
        <div class="blazor-modal-header">
            <h5 class="blazor-modal-title">@Title</h5> 
            <span class="blazor-modal-close-button" @onclick="CloseOrder">X</span>
        </div>
        <div class="blazor-modal-body-cart">
            @ModalBody
        </div>
        <div class="blazor-modal-footer">
            @ModalFooter
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ModalBody { get; set; }

    [Parameter]
    public RenderFragment ModalFooter { get; set; }

    [Parameter]
    public bool IsOpened { get; set; }

    string cssClass => IsOpened ? "show" : "hide";

    [Parameter]
    public EventCallback DoIsOpened { get; set; }

    void CloseOrder()
    {
        IsOpened = false;
        DoIsOpened.InvokeAsync();
    }
}