
<div class="container-fluid">
<span>
    <img width="@Width" src="@Link" onclick="@OnClick"/>
</span>
</div>

@code {
    [Parameter]
    public RenderFragment ModalBody { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
