

<span class="container-fluid">
    <img width="@Width" src="@Link" onclick="@OnClick"/>
</span>

@code {
    [Parameter]
    public RenderFragment ModalBody { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
